<div class="container">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4 login-screen">
			<h1>Login</h1>
			<form name="frmLogin" novalidate>
				
				<div class="form-group">
					<input class="form-control" type="email" name="email" ng-model="scope.user.email" placeholder="Email" required>
				</div>			
				
				<div class="form-group">
					<input class="form-control" type="password" name="password" ng-model="scope.user.password" placeholder="Password" required>
				</div>				
				
				<div class="form-group">
					<input class="form-control btn btn-primary" type="submit" 
					       name="submit" value="Submit" 
						   ng-click="scope.login(frmLogin);">
				</div>
			</form>
			<div class="isa_error" ng-show="scope.showError">
			   <h4><i class="fa fa-times-circle"></i>Validation</h4>
			   <ul ng-repeat="err in scope.errorMsgs">
			   		<li>{{err}}</li>
			   </ul>
			</div>
		</div>	
	</div>
</div>